extends templates/layout

block content
	include templates/incl-header-through

	main
		.courses
			h2 Курсы
			.courses__list
				each item, i in course
					.courses__item(data-scroll data-scroll-repeat data-scroll-delay= i*2)
						.courses__type= item.type
						.courses__descr
							h4
								a(href="")= item.name
							p= item.descr
						.courses__price
							p.date= item.date
							p.price= item.price
						.courses__link
							a(href="course-item.html")
