extends templates/layout
include templates/_mixin-menu

block content
	header.header
		.header__top
			.header__logo
				a(href="/")
					img(src="images/logo.svg" alt="legal&creative")
			.mobile-menu.js-mobile-menu
			nav.header__menu
				-var current = "course-item.html"
				+menu(current)
		.header__title
			h1
				span.title Защита
				span.title(style="color: #FF28C3;") прав и интересов
				span.title актеров
		.header__bottom
			.header-bottom
				.header-bottom__item
					i.iconify(data-icon="akar-icons:arrow-down-right")
					p 4 лекции +
						span ответы на вопросы слушателей
				.header-bottom__item
					i.iconify(data-icon="akar-icons:arrow-down-right")
					p вторник, четверг
						span 19 часов (60-80 минут)
				.header-bottom__item
					i.iconify(data-icon="akar-icons:arrow-down-right")
					p 7 500 рублей
				.header-bottom__item
					i.iconify(data-icon="akar-icons:arrow-down-right")
					p Занятия проходят в&nbsp;формате живых вебинаров

	main
		.about-course
			h3 О чем этот курс
			.about-course__content
				p Курс для актеров от&nbsp;опытных юристов в&nbsp;сфере кино и&nbsp;телевидения. Позволит научиться правильно выстраивать отношения с&nbsp;продюсером и&nbsp;агентом, читать свой контракт и&nbsp;выделять в&nbsp;нем главное, а&nbsp;также знать и&nbsp;защищать свои права, пользуясь положениями закона. Участникам будут предложены конкретные сценарии поведения в&nbsp;сложных ситуациях (переработка, работа в&nbsp;опасных условиях и&nbsp;т.д.) и&nbsp;реальные алгоритмы защиты своих прав, составленные на&nbsp;основе практики.

		.you-learn.bg-black
			h3 На курсе вы научитесь
			.you-learn__list
				.you-learn__item
					p правильно читать и понимать свой контракт
				.you-learn__item
					p отстаивать свои права, если они нарушены
				.you-learn__item
					p вести переговоры с продюсером
				.you-learn__item
					p добиваться комфортных условий труда
				.you-learn__item
					p максимально монетизировать передаваемые права

		.course-program
			h3 Программа курса
			.course-program__list
				each item in course.slice(1,2)
					each subitem in item.program
						.course-program__item
							.course-program__number
								p= subitem.number
							.course-program__time
								p
									span= subitem.date + " "
									span= subitem.day + " "
									span= subitem.time
							.course-program__descr
								h5= subitem.title
								p= subitem.descr

		.experts.experts--course.bg-black
			h3 Эксперты
			.experts__list
				each item in experts.slice(0,4)
					.experts__item
						.experts__content(data-scroll)
							.experts__name
								h4= item.name
							.experts__info
								.experts__img
									img(src= item.img alt= item.name)
								.experts__descr
									each subitem in item.descr
										p= subitem.item

		.course-registration
			div(data-scroll)
				.course-registration__content
					h3 Зарегистрироваться
					.course-registration__form
						include templates/incl-registration-form

					.course-registration__info
						each item in course.slice(1,2)
							.type= item.type
							h4= item.name
							.course-registration__info-list
								each subitem in item.details
									.course-registration__info-item
										p= subitem.info
									.course-registration__info-item
										p= subitem.days
										p= subitem.time
									.course-registration__info-item
										p.price= subitem.price